<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortner</title>
    <!-- bootstrap css -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <form action="/make" method="post" class="container mt-4">
      <h1>URL shortner</h1>
      <% if (locals.fileLink != null) { %>
          <a href="<%= locals.fileLink %>"><%= locals.fileLink %></a>
      <% } %>
      <div class="mb-3">
        <label for="destURL" class="form-label">Destination URL</label>
        <input
          type="url"
          name="destURL"
          class="form-control"
          id="destURL"
          aria-describedby="destURL"
          placeholder="https://example.com"
        />
      </div>
      <div class="mb-3">
        <label for="author" class="form-label">Author</label>
        <input
          type="text"
          name="author"
          class="form-control"
          id="author"
          aria-describedby="author"
          placeholder="John Doe"
        />
      </div>
      <div class="mb-3">
        <label for="days" class="form-label">Expire after</label>
        <select aria-label="days" class="form-select-sm d-inline-block" name="days" id="days">
          <option value="1">1</option>
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="30" selected>30</option>
          <option value="60">60</option>
          <option value="never">Never</option>
        </select>
        <span>Days</span>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>

    <!-- bootstrap script -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
