<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortner</title>
    <!-- captcha -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <!-- bootstrap css -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1>URL Shortner</h1>
    <form id="captchaForm" method="post" action="/captcha">
      <div
        class="g-recaptcha"
        data-sitekey="6LfLT64gAAAAACyjbwfLHZqbEAqiMU0k33ddtSoC"
      ></div>
      <button type="submit" class="btn btn-primary">Verify</button>
    </form>
    <div id="display"></div>
    <!-- script -->
    <script>
      document.getElementById("captchaForm").addEventListener("submit", (e) => {
        e.preventDefault();
        const captcha = document.querySelector("#g-recaptcha-response").value;
        console.log("12");
        return fetch("/captcha", {
          method: "POST",
          headers: { 'Accept': 'application/json',"Content-type": "application/json" },
          body: JSON.stringify({ captcha: captcha }),
        })
          .then((res) => res.json())
          .then((data) => {
            // console.log(data, "here");
            if(data.success){
              document.getElementById("captchaForm").remove()
              const found = <%- JSON.stringify(found) %>
              console.log(found)
              document.getElementById("display").innerHTML=`<p>Author: ${found.author}</p><a href="${found.url}">${found.url}</a>`
            }
          })
          .catch((err) => console.error(err));
      });
    </script>
    <!-- bootstrap script -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
